.body {
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px;
    display: fixed;
    cursor: pointer;
    background: radial-gradient(circle, #8e9eab, #eef2f3, #8e9eab, #eef2f3,#8e9eab );
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.edu {

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

img {
    height: 200px;
    width: 200px;
}

h1 {
    padding: 15px;
}

h4 {
    padding: 10px;
    color: #11324d;
}

h5 {
    color: #071c52;
}

h6 {
    color: darkblue;
}

nav {
    border-radius: 20px;
}

h1 {
    color: #11324d;
    font-size: 2rem;
}

.name {
    color: #11324d;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border-color: white;
    position: relative;
    left: auto;
    right: auto;
    top: 100px;
    bottom: auto;
}

.container1 {
    text-align: center;
    position: absolute;
    left: 85px;
    top: 55px;

}

.container2 {
    position: absolute;
    left: 20px;
    top: 50px;
}

.container3 {
    padding: 5px;
    height: auto;
    width: 480px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-top: 100px;

}

.container4 {
    height: auto;
    width: fit-content;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px;

}

.work-cont {
    margin: 20px;
}

.work-image {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
}

.work-image1 {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}

.skills,
.star {
    color: blue;

}

.yourName,
.yourEmail,
.yourMessage {
    outline: white;
    border-radius: 10px;
    border: none;
}

.nav-item {
    font-size: large;
    font-weight: lighter;
}